# Grafana Alloy Helm Values

controller:
  type: {{ alloy_controller_type }}

alloy:
  enableReporting: {{ alloy_enable_reporting }}

  mounts:
    varlog: {{ alloy_mount_varlog }}

  extraEnv:
    - name: NODE_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.nodeName

  configMap:
    create: true

    content: |-
      logging {
        level  = "info"
        format = "logfmt"
      }

      discovery.kubernetes "pods" {
        role = "pod"

        selectors {
          role  = "pod"
          field = "spec.nodeName=" + sys.env("NODE_NAME")
        }
      }

      discovery.relabel "pod_logs" {
        targets = discovery.kubernetes.pods.targets

        rule {
          source_labels = ["__meta_kubernetes_namespace"]
          target_label  = "namespace"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_name"]
          target_label  = "pod"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_container_name"]
          target_label  = "container"
        }

        rule {
          source_labels = ["__meta_kubernetes_pod_node_name"]
          target_label  = "node"
        }

        rule {
          target_label = "cluster"
          replacement  = "{{ alloy_cluster_name }}"
        }

        rule {
          source_labels = [
            "__meta_kubernetes_pod_uid",
            "__meta_kubernetes_pod_container_name",
          ]
          separator    = "/"
          target_label = "__path__"
          replacement  = "/var/log/pods/*$1/*.log"
        }
      }

      local.file_match "pod_logs" {
        path_targets = discovery.relabel.pod_logs.output
      }

      loki.source.file "pod_logs" {
        targets = local.file_match.pod_logs.targets

        forward_to = [
          loki.process.pod_logs.receiver,
        ]
      }

      loki.process "pod_logs" {
        stage.cri {}

        forward_to = [
          loki.write.default.receiver,
        ]
      }

      loki.write "default" {
        endpoint {
          url = "{{ alloy_loki_write_url }}"
        }
      }