apiVersion: argoproj.io/v1alpha1
kind: AppProject

metadata:
  name: {{ argocd_project_name }}
  namespace: {{ argocd_namespace }}

spec:
  sourceRepos:
    - "{{ argocd_gitops_repository_url }}"

  destinations:
    - namespace: "{{ argocd_application_namespace }}"
      server: https://kubernetes.default.svc

  clusterResourceWhitelist:
    - group: ""
      kind: Namespace

  namespaceResourceWhitelist:
    - group: "*"
      kind: "*"