apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: {{ argocd_application_name }}
  namespace: {{ argocd_namespace }}

spec:
  project: {{ argocd_project_name }}

  source:
    repoURL: "{{ argocd_gitops_repository_url }}"
    targetRevision: "{{ argocd_gitops_target_revision }}"
    path: "{{ argocd_gitops_application_path }}"

  destination:
    server: https://kubernetes.default.svc
    namespace: "{{ argocd_application_namespace }}"

  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
      allowEmpty: false

    syncOptions:
      - PrunePropagationPolicy=foreground
      - PruneLast=true

    retry:
      limit: 5

      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m