global:
  logging:
    format: text
    level: info

controller:
  replicas: {{ argocd_controller_replicas }}

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

repoServer:
  replicas: {{ argocd_repo_server_replicas }}

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

server:
  replicas: {{ argocd_server_replicas }}

  service:
    type: ClusterIP

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi

redis:
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

dex:
  enabled: false

notifications:
  enabled: false