---
clusterName: "{{ cluster_name }}"

region: "{{ aws_region }}"
vpcId: "{{ aws_vpc_id }}"

replicaCount: {{ aws_load_balancer_controller_replicas }}

hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet

serviceAccount:
  create: true
  name: "{{ aws_load_balancer_controller_service_account_name }}"

ingressClass: "{{ aws_load_balancer_controller_ingress_class }}"
createIngressClassResource: true

defaultTargetType: instance

controllerConfig:
  featureGates:
    ALBGatewayAPI: {{ aws_load_balancer_controller_alb_gateway_enabled | bool | lower }}
    NLBGatewayAPI: {{ aws_load_balancer_controller_nlb_gateway_enabled | bool | lower }}

nodeSelector:
  node-role.kubernetes.io/control-plane: ""

tolerations:
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule

  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 0

resources:
  requests:
    cpu: 100m
    memory: 128Mi

  limits:
    memory: 256Mi
