# Loki Helm Values
# Managed by Ansible

deploymentMode: {{ loki_deployment_mode }}

loki:
  auth_enabled: {{ loki_auth_enabled }}

  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: filesystem

singleBinary:
  replicas: {{ loki_replicas }}

  persistence:
    enabled: {{ loki_persistence_enabled }}
    storageClass: "{{ loki_storage_class_name }}"
    accessModes:
      - ReadWriteOnce
    size: "{{ loki_storage_size }}"

chunksCache:
  enabled: false

resultsCache:
  enabled: false

backend:
  replicas: 0

read:
  replicas: 0

write:
  replicas: 0

ingester:
  replicas: 0

querier:
  replicas: 0

queryFrontend:
  replicas: 0

queryScheduler:
  replicas: 0

distributor:
  replicas: 0

compactor:
  replicas: 0

indexGateway:
  replicas: 0

bloomPlanner:
  replicas: 0

bloomBuilder:
  replicas: 0

bloomGateway:
  replicas: 0