apiVersion: v1
kind: Secret
metadata:
  name: "{{ thanos_object_storage_secret_name }}"
  namespace: "{{ monitoring_namespace }}"
type: Opaque
stringData:
  "{{ thanos_object_storage_secret_key }}": |
    type: S3
    config:
      bucket: "{{ thanos_s3_bucket_name }}"
      endpoint: "{{ thanos_s3_endpoint }}"
      region: "{{ thanos_s3_region }}"
      aws_sdk_auth: true